# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea
/.vs/HSE-Course_2_sem/v16
/.vs
/homework-1/out/build/x64-Debug (по умолчанию)
/homework-2/out/build/x64-Debug (по умолчанию)
/HSE-Course_2_sem
/build
/.vscode
